

        
        
        {% for blog in object_list %}
                <div class="card blog-style mb-4">
                    <div class="card-body">
                        <h2 class="card-title"><a class="blog-link" href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h2>
                        <div class="col-4"><a href="{{ blog.get_absolute_url }}" target="_blank" class="blog-btn">Read more &rarr;</a></div>
                        <div class="col-4"><a class="blog-btn" href="{% url 'add_blog_post' %}">Write a post</a></div>
                        <div class="col-4">
                             {% if request.user == blog.author %}
                    <a class="blog-btn" href="{% url 'update_blog' blog.slug %}">Edit post</a>
                    {% endif %}
                        </div>
  
                {% if blog.blog_image %}
                    <a class="blog-link" href="{{ BlogPost.get_absolute_url }}" target="_blank">
                    <img class="img-fluid" height="320px" width="320px" src="{{ blog.blog_image.url }}" alt="{{ post.title }}">
                    </a>
                {% else %}
                    <a class="blog-link" href="{{ BlogPost.get_absolute_url }}">
                        <img class="img-fluid" src="{{ MEDIA_URL }}no-image.png" alt="{{ post.title }}">
                    </a>
                {% endif %}
                    </div>
                    </div>


                    <div class="card-footer text-muted">
                        <h3>Posted on {{ blog.date }} by {{ blog.author }}</h3> 
                                <p class="small mt-1 mb-0">
                                    {{ blog.category.friendly_name }}
                                </p>      
                    </div>
                    

        {% endfor %}

