
        {% for blog in object_list %}
        <div class="col-12">
            <div class="blog-posts-container">

                <p class="mb-0"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></p>
                <p class="lead mb-0 font-weight-bold">{{ blog.author}}</p>
                {% if blog.blog_image %}
                <a href="{{ BlogPost.get_absolute_url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ blog.blog_image.url }}" alt="{{ post.title }}">
                </a>
                {% else %}
                <a href="{{ BlogPost.get_absolute_url }}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}">
                </a>
                {% endif %}

                {% if blog.category %}
                <p class="small mt-1 mb-0">
                    {{ blog.category.friendly_name }}
                </p>
                {% endif %}

                <p class="mt-3">{{ blog.body }}</p>
                {% if request.user.is_authenticated %}
                <small class="ml-3">
                    <a href="#">comment</a>
                    <a class="text-danger" href="{% url 'add_blog_post' %}">i want to write a post!</a>
                    {% if request.user == blog.author %}
                    <a class="btn-edit" href="{% url 'update_blog' blog.slug %}">Edit</a>
                    <!--delete confirmation modal  -->
                    <a class="text-danger " href="{% url 'delete_blog' blog.pk %}">Delete</a>

                    <div id="delete-confirmation" class="modal">
                        <div class="modal-content col s12">
                            <h4 class="subtitles">Are you sure you want to delete?</h4>

                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'delete_blog' blog.pk %}"
                                class="modal-close waves-effect waves-green btn-flat">Yes</a>
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
                        </div>
                    </div>
                    {% endif %}
                </small>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        