

        
        
        {% for blog in object_list %}
 
            <div class="blog-posts-container">
                <div class="card mb-4">
                {% if blog.blog_image %}
                <a href="{{ BlogPost.get_absolute_url }}" target="_blank">
                <img class="card-img-top" src="{{ blog.blog_image.url }}" alt="{{ post.title }}">
                </a>
                {% else %}
                <a href="{{ BlogPost.get_absolute_url }}">
                    <img class="card-img-top" src="{{ MEDIA_URL }}no-image.png" alt="{{ post.title }}">
                </a>
                {% endif %}
                    
                    <div class="card-body">
                        <h2 class="card-title"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h2>
                        <p class="card-text">{{ blog.title }}</p>
                        <a href="{{ blog.get_absolute_url }}" target="_blank" class="btn btn-primary">Click here to see if there are any comments! &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        <h3>Posted on {{ blog.date }} by {{ blog.author }}</h3> 
                            {% if blog.category %}
                                <p class="small mt-1 mb-0">
                                    {{ blog.category.friendly_name }}
                                </p>
                            {% endif %}

                    {% if request.user.is_authenticated %}
                <small class="ml-3">
                    <p data-toggle="modal" data-target="#commentModal">Comment</p>
                    <a class="text-danger" href="{% url 'add_blog_post' %}">Write a post</a>
                    {% if request.user == blog.author %}
                    <a class="btn-edit" href="{% url 'update_blog' blog.slug %}">Edit post</a>

                <!-- confirm delete modal -->


                    {% endif %}
                </small>
                {% endif %}        
                    </div>
                    
                </div>

            </div>

        {% endfor %}
