{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col">
        <p class="intro">
            Hi! I'm Juspreet Kaur, a Health Coach and Natural Family Planning (NFP) teacher. I am passionate about female health, nutrition and fertility.

Through Health Coaching, I help women achieve their goals by making small, manageable dietary changes. And through NFP, I help couples track their fertility and achieve/avoid pregnancy using non-invasive holistic methods.

        </p>

    </div>

    <div class="col">
        <img class="img-fluid" src="/media/welcome.png" alt="Juspreet Kaur">
    </div>
</div>
</div>

{% endblock %}