<script type="text/javascript">

// Disable +/- buttons outside the range of 1-99

function handleEnableDisable (itemId){
    var currentValue = parseInt($(`#service-id_qty_${itemId}`).val());
    var minusDisabled = currentValue < 2;
    var plusDisabled = currentValue > 98;
    $(`#service-decrement-qty_${itemId}`).prop('disabled', minusDisabled)
    $(`#service-increment-qty_${itemId}`).prop('disabled', plusDisabled)
}

// ensure proper enabling/disabling of all inputs on page load 

var allQtyInputs = $('.service-qty_input');
for (var i = 0; i < allQtyInputs.length; i++){
    var itemId = $(allQtyInputs[i]).data('item_id');
    handleEnableDisable(itemId);
}

// check enable/ disable everytime the input it changed 
$('.service-qty_input').change(function(){
    var itemId = $(this).data('item_id');
    handleEnableDisable(itemId);
});

// increment quantity 
    $('.service-increment-qty').click(function(e){
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.service-qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

 // decrement quantity 
        $('.service-decrement-qty').click(function(e){
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.service-qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1);
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

</script>