{% extends "base.html" %}

{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="uppercase mb-4 black-text">Thank You</h2>
                <hr>
                <p class="text-black">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>
  <div class="card">
<div class="card-header">
Order Number:<strong> {{ order.order_number }}</strong> 
  <span class="float-right"> <strong>Date:</strong> {{ order.date }}</span>
</div>

<div class="card-body">
    <div class="row mb-4">
<div class="col-sm-12">
<h6 class="mb-3">Delivering To:</h6>
<div>
<strong>{{ order.full_name }}</strong>
</div>
<div>{{ order.street_address1 }}</div>
{% if order.street_address2 %}
    <div>{{ order.street_address1 }}</div>
{% endif %}
{% if order.county %}
    <div>{{ order.county }}</div>
{% endif %}
<div>{{ order.town_or_city }}</div>
{% if order.postcode %}
    <div>{{ order.postcode }}</div>
{% endif %}    
<div>{{ order.country }}</div>
<div>{{ order.phone_number }}</div>
</div>
</div>


<div class="table-responsive-sm">
<table class="table table-striped">
<thead>
<tr>
<th>Item</th>
<th>Description</th>

<th class="right">Unit Cost</th>
  <th class="center">Quantity</th>
</tr>
</thead>
<tbody>
<tr>
{% for item in order.lineitems.all %}
    <td class="left strong">{{ item.product.name }}</td>
    {% if item.product.service_category %}
        <td class="left"><strong> This is a service, you must adhere to the t's and c's</strong></td>
    {% else %}
        <td class="left"><strong> This is a tangible product</strong></td>
    {% endif %}

    <td class="right">£{{ item.product.price }}</td>
    <td class="center">{{ item.quantity }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="row">
<div class="col-lg-4 col-sm-5">

</div>

<div class="col-lg-4 col-sm-5 ml-auto">
<table class="table table-clear">
<tbody>
<tr>
<td class="left">
<strong>Order total</strong>
</td>
<td class="right">{{ order.order_total }}</td>
</tr>  
<tr>
<td class="left">
<strong>Delivery</strong>
</td>
<td class="right">{{ order.delivery_cost }}</td>
</tr>  
<tr>
<td class="left">
<strong>Grand total</strong>
</td>
<td class="right">{{ order.grand_total }}</td>
</tr>
</tbody>
</table>

</div>

</div>

</div>
</div>
        
<div class="row">
    <div class="col-12 col-lg-b text-right">
        {% if from_profile %}
            <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
            <span class="icon mr-2">
                <i class="fas fa-angle-left"></i>
            </span>
            <span class="text-uppercase">Head to your profile</span>
        </a>
        {% else %}
        <!--here do something to redirect user to the other products/serevices from a category they just bought from -->
        <a href="{% url 'all_items' %}" class="btn btn-black rounded-0 my-2">
            <span class="icon mr-2">
                <i class="fas fa-tags"></i>
            </span>
            <span class="text-uppercase">Back to the shop</span>
        </a>
        {% endif %}
    </div>
</div>
</div>
{% include 'includes/footer.html' %}  
{% endblock %}

