/* used across entire site */
html{

min-height: 100vh;

}
body{
    background-color: #f4e1e1;
    color: black;
    font-family: "Nunito", sans-serif;
    
}

.overlay {
	width: 100%;
	top: 0;
	left: 0;
	position: flex;
	background: #f4e1e1;
	z-index: -1;
}
.img-fluid{
    max-height: 480px;
}
.scroll-up-link:hover,
.update-link:hover {
    cursor: pointer;
    background: none;
    color: #EBEBEB;
}
a.remove-item {
    cursor: pointer;
    color: red;
    font-weight: 500;
}

a.remove-item:hover{
    cursor: pointer;
    color: red;
    font-weight: 500;
    background: none;
}
.scroll-up-button{
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

a {
    color: #48304d;
    text-decoration: none;
    background-color: transparent;
    font-size: 1rem;
}
a:not([href]) {
    color: white;
    text-decoration: none;
}

a:not([href]):hover {
    color: #EBEBEB;
    text-decoration: none;
}
a.no-hover:hover{
    color: #6A4771;
    text-decoration: none;
    background-color: transparent;
    font-size: 1rem;
}
a:hover{
   color: #EBEBEB;
    text-decoration: none;
    background-color: #6A4771; 
    font-size: 1rem;
}
a.uppercase.font-weight-bold.nav-link.text-black.mr-5:hover,
a.uppercase.font-weight-bold.nav-link.text-black:hover,
a.nav-link.text-black:hover,
a#user-options:hover{
    color: #EBEBEB !important;
    text-decoration: none;
    background-color: #6A4771 !important; 
    font-size: 1rem;
}

a.nav-link.main-logo-link:hover{
    color: #EBEBEB;
    text-decoration: none;
    background-color: #EBEBEB; 
    font-size: 1rem;
}

/* headers, paragraphs */

.uppercase{
    text-transform: uppercase;
}

.text-black {
    color: #000 !important;
}


.text-muted {
    color:#000!important;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
    color: #000;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Footer */

footer {
	text-align: center;
}

.social-link {
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.social-link:nth-child(odd) {
	margin: 0 0.5rem;
}

.social-ul {
	padding: 0;
}

.footerHeader{
    margin-top: 1rem;
}

/* home app */

#contact{
    margin-top: 10rem;
}


.page-section {
    padding: 4rem 0;
}

#specialisms{
    background-color: #48304d;
    padding: 4rem 0;
}


.thankyou{
    margin-top: 50%;
}


/* blog app */

.blog-background{
    background-color: #dda0a1;
}
.blog-link{
    color: #48304d;
}

.blog-detail{
    background-color: #dda0a1;
    border-radius: 1rem;
    border: solid 1px;
    border-color:#48304d ;
}


/* product app */
#delivery-banner h4{
color: #48304d;

}
.item{
    height: 480px;
}
a.category-badge > span.badge:hover {
    background: #48304d !important; 
    color: white !important;
}

.media {
    padding-top:1rem;
    }

    /* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


/* buttons */

.text-info{
    color: #48304d !important;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.text-info:hover{
   color: #6A4771 !important;
    text-decoration: none;
    background-color: none !important;
    cursor: pointer;
}


a.text-info{
    color: #48304d !important;
    text-decoration: none;
    background-color: transparent;
}

a.text-info:hover{
   color: #EBEBEB !important;
    text-decoration: none;
    background-color: #6A4771 !important; 
}


.btn-violet {
    background: #48304d;
    color: white;
    font-size: 1rem;
    border: 1px solid #48304d;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
        display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: .25rem;

}

.blog-btn{
    color: #fff;
    background-color: #48304d;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent #48304d;
    padding: .375rem .75rem;
    margin-bottom: .8rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-violet:hover{
    color: #EBEBEB;
    text-decoration: none;
    background-color: #6A4771; 
    font-size: 1rem;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/* Allauth form formatting */

.confirm-email{
    margin: 10rem 2rem;
}
.reset-page{
    margin: 6rem 2rem;
}
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}


/* modal for confirm delete */
#delete-confirmation .modal-footer{
    color:white;
    background-color:#F4E1E1;
}

#delete-confirmation .modal, .modal-content{
    color:white;
    background-color:#F4E1E1;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}



/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}