<footer>
    <div class="container-fluid d-lg-none">
        <div class="row ">
            <div class="col-12">
                <h5 class="footerHeader">Get in touch</h5>
                <hr class="white-hr">
            </div>

            <div class="col-12 order-sm-4 order-md-4  text-center">
                <ul class="text-center social-ul">
                    <li class="social-link"> <a href="https://www.youtube.com/channel/UCu_UD7T6I96gmdHuyK5G6Rg" aria-label="Kaur health Youtube" target="_blank"> <i class="fab fa-youtube social-icon fa-2x"></i></a></li>
                    <li class="social-link"><a href="{https://www.instagram.com/kaurhealth/?hl=en}" aria-label="Kaur health Instagram"  target="_blank"><i class="fab fa-instagram-square social-icon fa-2x"></i></a></li>
                    <li class="social-link"><a href="{% url 'contact' %}" aria-label="Contact form" target="_blank"><i class="fas fa-envelope social-icon fa-2x"></i></a></li>
                </ul>
            </div>

            <div class="col-12 order-sm-4 order-md-4">
                <p class="footerContact"><small>© Copyright 2021</small></p>
            </div>

        </div>
    </div>

    <div class="container-fluid d-none d-md-none d-lg-block">
        <div class="row ">

            <div class="col-12 pt-3 mb-2">
                <h5 class="footerHeader text-center">Get in touch</h5>
                <hr class="white-hr">
            </div>
        
            <div class="col-12 text-center">
                <ul class="text-center social-ul">
                    <li class="social-link"> <a href="https://www.youtube.com/channel/UCu_UD7T6I96gmdHuyK5G6Rg" aria-label="Kaur health Youtube" target="_blank"> <i class="fab fa-youtube social-icon fa-2x"></i></a></li>
                    <li class="social-link"><a href="{https://www.instagram.com/kaurhealth/?hl=en}" aria-label="Kaur health Instagram"  target="_blank"><i class="fab fa-instagram-square social-icon fa-2x"></i></a></li>
                    <li class="social-link"><a href="{% url 'contact' %}" aria-label="Contact form" target="_blank"><i class="fas fa-envelope social-icon fa-2x"></i></a></li>
                </ul>
            </div>
            
            <div class="col-12 pb-2">
                <p class="footerContact"><small>© Copyright 2021</small></p>
            </div>
        </div>
    </div>
</footer>
