<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products & Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="#">
                <a href="#" class="dropdown-item">NFP</a>
                <a href="#"class="dropdown-item">DIY SKIN</a>
                <a href="#" class="dropdown-item">female health</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div>