{% extends "base.html" %}
{% load static %}


{% block extra_css %}

{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">blog</h2>
            <hr>
        </div>
           
        {% if author %}
            {% if author == request.user.username %}
                {% include 'includes/all_blogs_loop.html' %}
            {% else %}
            <h1> you arent the author of those blogs</h1>
            {% endif %}

        {% else %}
            {% include 'includes/all_blogs_loop.html' %}
        {% endif %}
    </div>
</div>


{% endblock %}