{% extends "base.html" %}
{% load static %}


{% block extra_css %}

{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4"> Kaur health Blog</h2>
            <hr>
            <p>We want to encourage and facilitate the important conversations that people need to be having! Here on the kaur health blog you can have a read at the posts some of our lovely users have made and read the comments! If you want to add your own post or comment you'll have to log in <a href="{% url 'account_login' %}">here</a></p>
            <br>
             <p>If youre already logged in.. just click <a href="{% url 'add_blog_post' %}">here to add your post!</a></p>
             <br>
             <p><strong>Posts are monitored, so please keep it clean and respectful, to avoid having your post deleted!</strong></p>
        </div>
    
           
        {% if author %}
            {% if author == request.user.username %}
                {% include 'includes/all_blogs_loop.html' %}
            {% else %}
            <h1> you arent the author of those blogs</h1>
            {% endif %}

        {% else %}
            {% include 'includes/all_blogs_loop.html' %}
        {% endif %}
    </div>
</div>

{% endblock %}

