{% extends "base.html" %}
{% load static %}


{% block extra_css %}
   
{% endblock %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- template adapted from codemy blog tutorial video: https://www.youtube.com/watch?v=B40bteAMM_M (as referenced in README) -->
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

      <!-- Post Content Column -->
      <div class="col-sm-12 blog-detail">

        <!-- Title -->
        <h1 class="text-center">{{ object.title }}</h1>
         <!-- category -->
        {% if object.category %}
            <p class="small text-center mt-1 mb-0">
             This blog falls under the "{{ object.category.friendly_name }}" category
            </p>
        {% endif %}

        <!-- Author -->
        <p class="lead text-center">
          by: {{ object.author }}
        </p>
        <!-- Date/Time -->
        <p class="text-center">{{ object.date }}</p>

        <!-- Preview Image -->
        {% if object.blog_image  %}
                <a href="{{ object.blog_image.url }}" target="_blank">
                <img class="img-fluid rounded" src="{{ object.blog_image.url  }}" alt="{{ post.title }}">
                </a>
        {% else %}
                <img class="img-fluid rounded" src="{{ MEDIA_URL }}no-image.png" alt="{{ post.title }}">
        {% endif %}

        <hr>

        <!-- Post Content -->
        <p class="lead text-center"> {{ object.body }} </p>

        <hr>
        {% if request.user == object.author %}
            <a class="btn-violet" href="{% url 'update_blog' object.slug %}">Edit post</a>
            <!-- confirm delete modal -->
            <a class="btn-violet" data-toggle="modal" data-target="#deleteModal">Delete post</a>
        {% endif %}
        
        </div>
        </div>
        <!-- Single Comment -->
        <div class="row">
        <div class="col-sm-12">

            {% if not object.comments.all %}
                <h3 class="mt-3 text-center"><u><strong> No comments yet..</strong></u></h3> 
                    <small class="ml-3">
                {% if request.user.is_authenticated %}
                    <div class="col-4"><a class="text-info" data-toggle="modal" data-target="#commentModal">Comment</a></div>
                    <div class="col-4"><a class="text-info" href="{% url 'add_blog_post' %}">Write a post</a></div>
                    <div class="col-4"><a class="text-info" href="{% url 'blog' %}">Back to the other blogs</a></div>
                {% else %}
                    <div class="col-4"><a class="text-info" href="{% url 'account_login' %}" target="blank">Login and write a post</a></div>
                    <div class="col-4"><a class="text-info" href="{% url 'account_login' %}" target="blank">Login and comment</a></div>
                    <div class="col-4"><a class="text-info" href="{% url 'blog' %}">Back to the other blogs</a></div>
                {% endif %} 
                </small> 
                <hr>
            {% else %}

                    <div class="row">
                        <div class="col-sm-12 mt-3">
                         <h3 class="text-info" data-toggle="modal" data-target="#commentModal">Add a Comment</h3>
                        {% for comment in object.comments.all %}
                        <h4 class="mt-3">{{ comment.name }} said:</h4>
                        <p class="lead"> {{ comment.body }} </p>
                        <p class="small mt-1 mb-0">on {{ comment.date }}</p>
                    </div>
                </div>
                <hr>
                {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% endfor %}  
            {% endif %}
            </div>
            </div>
            </div>


<!-- Modals adapted from bootstrap example -->

 <!-- Comment Modal -->
<div class="modal fade" id="commentModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-black">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">Your comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'blog_detail' object.slug %}" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input class="btn-violet" type="submit" value="Post comment!"></form>
            </div>
        </div>
    </div>
</div>

 <!-- Delete Modal -->
<div class="modal fade" id="deleteModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-black">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete?</h5>
            </div>
                <div class="modal-footer">
                    <a href="{% url 'delete_blog' object.pk %}"
                        class="modal-close waves-effect waves-green btn-flat remove-item">Yes</a>
                    <button type="button" class="btn" data-dismiss="modal" aria-label="Close"> No </button>
                </div>
        </div>
    </div>
</div>
{% include 'includes/footer.html' %}  
{% endblock %}


 