{% extends "base.html" %}
{% load static %}

{% block content %}
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="thankyou">
				<h3>Thank you for contacting us. </h3>
				<p class="mt-1">Your message is successfully sent! Juspreet will respond in 2-3 working days. Enjoy the rest of your day!</p>
				<div class="mt-2">
					<a href="{% url 'home' %}">
						<span class="icon">
							<i class="fas fa-angle-left"></i>
						</span>
						<span>Back to Home</span>
					</a>
				</div>
			</div>
		</div>
	</div>
{% include 'includes/footer.html' %}  
{% endblock %}